<html>

 <div *ngIf="foro && foro.id">

  <h1>{{foro.id}} {{foro.titulo}}</h1>

  <ul *ngFor="let tema of foro.temas">
    <li>
      <div class="info" [routerLink]="['/foro/tema/tema-view', tema.id]">
        <h2 class="title">{{tema.titulo}}</h2>
        <p>{{tema.fechaPublicacion | date: 'dd/MM/yyyy'}}, {{tema.contenido}} | Ranking: {{tema.ranking}}</p>

      <p class="buttons">
      <img class="like" src="/assets/Images/like.svg" (click)="darLike(tema)">
      <img class="like" src="/assets/Images/dislike.svg"(click)="darDislike(tema)">
    </p>
    </div>


     <div class="usuario" *ngIf="esDeUsuario(tema) == true">
        <button (click)="eliminarTema(tema)">Eliminar</button>
        <button [routerLink]="['/foro/tema/tema-edit', foro.id, tema.id]">Editar</button>
      </div>
    </li>
  </ul>

  <button class="newT" [routerLink]="['/foro/tema/tema-create', foro.id]">+ Crear nuevo Tema</button>
  <!--<button (click)="crearNuevoTema()">+</button>-->
</div>

</html>
