<h1>{{foro.id}} {{foro.titulo}}</h1>

<ul *ngFor="let tema of foro.temas">
  <li>
    <div class="info" [routerLink]="['/foro/tema/tema-view', tema.id]">
      <h2>{{tema.titulo}}</h2>
      <p>{{tema.fechaPublicacion | date: 'dd/MM/yyyy'}}, {{tema.contenido}} | Ranking: {{tema.ranking}}</p>
    </div>
    <button (click)="darLike(tema)">Like</button>
    <button (click)="darDislike(tema)">Dislike</button>

    <div class="usuario" *ngIf="esDeUsuario(tema) == true">
      <button (click)="eliminarTema(tema)">Eliminar</button>
      <button (click)="habilitarModoEdicion(tema)">Editar //TODO</button>
    </div>
  </li>
</ul>

<button [routerLink]="['/foro/tema/tema-create', foro.id]">+ Crear nuevo Tema</button>
<!--<button (click)="crearNuevoTema()">+</button>-->
