<html>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<main>
  <img class="imgLogIn" src="/assets/Images/imageLogIn.svg">

<p class="title">Log In</p>


<form (ngSubmit)="entrar()">

  <input class="inputT" type="text" [(ngModel)]="usuario" name="usuario"> <br>
  <input class="inputP" type="password" [(ngModel)]="contrasena" name="contrasena" > <br>
  <!--<li [routerLink]="['/foro/foro-list']"></li>-->
  <button class="buttonLI" type="submit" id="login">Log in</button>

</form>

<button class="buttonLO" (click)="salir()">log out</button>
<pre> {{mensaje}} </pre>
<pre> {{mensaje2}} </pre>

</main>

</html>
<!--
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>
<p>HOLA</p>

<button mat-flat-button color="accent">Accent</button>
-->
